{% extends "views/_layouts/base.njk" %}

{% block breadcrumb %}
{% include "partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}
<article>

    <div class="page-title">{{ title }}</div>

    <section class="text">
        {{ content | safe }}
    </section>

</article>
{% endblock %}