{% extends "views/_layouts/base.njk" %}

{% block breadcrumb %}
{% include "partials/breadcrumb.njk" %}
{% endblock %}

{% block content %}
<article>

    <div class="post-title">{{ title }}</div>
    <p class="post-date">{{ date | dateObject("LLL d, yyyy") }}</p>
    <section class="text">
        {{ content | safe }}
    </section>

</article>

{% include "partials/pagination.njk" %}

{% endblock %}