{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}

{% for crumb in navPages %}
{% if loop.first %}

<nav>

{% endif %}
{% if not loop.last %}

<a href="{{ crumb.url }}" class="crumb">{{ crumb.key }}</a>

{% else %}


<div class="crumb-last">{{ crumb.key }}</div>


</nav>

{% endif %}
{% endfor %}